

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Order</h1>
      <hr>

      <form action="/sign-up" method="POST">

        <div class="form-group">
          <label>cid</label>
          <input type="text" class="form-control" id="cid" name="cid" placeholder="Select a customer id ">
        </div>

        <div class="form-group">
          <label>bid</label>
          <input type="text" class="form-control" id="bid" name="bid" placeholder="Enter book order">
        </div>

        <div class="form-group">
          <label>quant</label>
          <input type="text" class="form-control" id="quant" name="quant" placeholder="enter book quantity">
        </div>

        <button type="submit" class="btn btn-primary">order</button>

      </form>

    </div>
  </div>
</div>

