body {
  background-image: url("img-2.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}

.main{
  width: 350px;
  height: 76  0px;
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  top: 10%;
  right: 1%;
  position: absolute;
  transform: translate(-0%,-0%);
  box-sizing: border-box;
  padding: 50px 30px;
}

.logo{
    width: 100px;
    height: 80px;
    border-radius: 10%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.main input{
    width: 100%;
    margin-bottom: 20px;
}

.main label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: red;
}

.main input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 2px solid #f00;
    background: transparent;
    outline: none;
    height: 50px;
    color: #fff;
    font-size: 15px;
}

.main input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
}

.main input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: yellow;
    color: #000;
    font-size: 20px;
    border-radius: 20px;
}

.main input[type="submit"]:hover
{
    cursor: pointer;
    background: yellow;
    color: #000;
}

.main input[type="button"]:hover
{
    cursor: pointer;
    background: #fb2525;
    color: #fff;
}

.main a{
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    color: red;
}

.main a:hover
{
    color: green;
}
